html {
    box-sizing: border-box;
}

*,*:before,*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 48px;
    color: rgba(255, 255, 255, 0.9);
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
}

a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.55);
}

img {
    width: 100%;
}