.headerTop {
	padding-top: 26px;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 117px;
}

.headerTop__logo {
	font-weight: 600;
	font-size: 22px;
	margin-left: 50px;
}
.headerTop__logo::before {
	position: absolute;
	content: "";
	width: 38px;
	height: 38px;
	display: inline-block;
	transform: translateX(-135%) translateY(-20%);
	background: url(/img/svg/header-top-logo-ico.svg) no-repeat center;
}

.headerTop__list {
	justify-content: space-between;
}

.headerTop__item:not(:last-child) {
	margin-right: 20px;
}

.headerTop__link {
	padding: 10px 25px;
	border-radius: 8px;
}

.headerTop__link:hover {
	padding: 10px 25px;
	border-radius: 8px;
	background: #175cc0;
}

.headerTop__signIn {
	margin-right: 41px;
	font-weight: 600;
}

.headerTop__signUp {
	color: #FDF5FF;
	font-weight: 600;
	padding: 12px 28px;
	border-radius: 8px;
	background: #FF6E30;
}